@charset "utf-8";

body{
	background-color: white;
	border : 1px solid darkgreen;
	margin : 10px;
}

#wrapper {
	margin: 5px;
}

.header {
	padding: 10px;
	border: 1px solid dimgray;
}

.inputObject {
	margin-bottom: 10px;
}

#inputTankData {
	margin-left: 50px;
}

#inputDepthData {
	margin-left: 50px;
}

#inputDivingEntryTime {
	margin-left: 50px;
}

#inputDivingExitTime {
	margin-left: 50px;
}

#calcDivingTime {
	margin-left: 50px;
}

#inputPath {
	margin-left: 50px;
}

#viewPath {
	margin-left: 50px;
}

#LogDataButton {

}